.style-container {
    padding-top: 170px; 
}


.form-container {
    font-family: "Inconsolata", monospace;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #555a5d;
    color: black(179, 1, 1);
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }

  button:hover {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(0.9);
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }